#splashscreen {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: var(--splash-bg);
    z-index: $zindex-splash-screen;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .items {
        margin-bottom: 24px;
        width: 500px;
        max-width: 70%;

        div {
            margin: 0px;
            padding: 0 0 8px 0;
            text-align: left;

            &.error {
                color: var(--splash-error-text);
                font-weight: bold;
            }

            i {
                margin-right: 10px;
            }
        }
    }

    .progressbar {
        width: 500px;
        max-width: 70%;
        display: flex;
        justify-content: left;
        background: var(--splash-progress-empty-bg);
        border-radius: 3px;

        div {
            width: 0%;
            height: 6px;
            background: var(--splash-progress-filled-bg);
            transition: width 250ms;
            border-radius: 3px;
        }

        &.error div {
            background: var(--splash-progress-filled-error-bg);
        }
    }

    .reload {
        text-align: center;
    }
}