// Animations
.spin {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

// Keyframes for animations
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }

    50% {
        color: var(--color-loading-half);
    }
}

@keyframes turn_around_cw {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(180deg);
    }
}

@keyframes turn_around_ccw {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-180deg);
    }
}