// Define the themes
$themes: (
    'theme-dark': (
        'colors': (
            'default': (
                'background': #14152d,
                'text': #8f9bb3
            ),
            'card': (
                'background': #222b45,
                'text': #8f9bb3
            ),
            'card-title': (
                'background': #222b45,
                'text': #ffffff
            ),
            'card-title-action': (
                'background': #222b45,
                'hover-background': #598bff,
                'text': #ffffff
            ),
            'input': (
                'background': #192038,
                'hover-background': #192038,
                'active-background': #14152d,
                'text': #ffffff,
                'label-text': #8f9bb3,
                'placeholder-text': #8e9cb2,
                'active-border': #36f,
                'border-error': #ff3d71,
                'disabled-text': rgba(143,155,179,.48),
                'disabled-border': #101426
            ),
            'button': (
                'background': #36f,
                'hover-background': #598bff,
                'focus-background': #598bff,
                'disabled-background': rgba(143, 155, 179, .24),
                'disabled-text': rgba(143, 155, 179, .48),
                'text': #ffffff
            ),
            'loading': (
                'half': #00ff00,
            ),
            'header': (
                'background': #222b45,
                'text': #8f9bb3,
                'text-hover': #fff,
                'borders': #14152d,
                'shadow': #1a1f33
            ),
            'usermenu': (
                'background': #222b45,
                'text': #8f9bb3,
                'text-hover': #fff,
                'borders': #14152d
            ),
            'navigation': (
                'text': #8f9bb3,
                'text-hover': #fff,
                'borders': #14152d
            ),
        ),
        'borders': (
            'card': (
                'color': #161d38,
                'width': 1px,
                'style': solid,
                'radius': 0px
            ),
            'input': (
                'color': #101426,
                'width': 1px,
                'style': solid,
                'radius': 0px
            )
        ),
        'fonts': (
            'text': (
                'family': 'Open Sans',
                'size': 15px,
                'weight': 400,
                'style': normal,
                'decoration': none
            ),
            'card-title': (
                'family': 'Open Sans',
                'size': 15px,
                'weight': 600,
                'style': normal,
                'decoration': none
            )
        )
    ),
    'theme-light': (
        'colors': (
            'default': (
                'background': #eaeef6,
                'text': #222b45
            ),
            'card': (
                'background': #ffffff,
                'text': #222b45
            ),
            'card-title': (
                'background': #ffffff,
                'text': #000
            ),
            'card-title-action': (
                'background': #ffffff,
                'hover-background': #598bff,
                'text': #000
            ),
            'input': (
                'background': #f7f9fc,
                'hover-background': #f7f9fc,
                'active-background': #edf1f7,
                'text': #222b45,
                'label-text': #8f9bb3,
                'placeholder-text': #8e9cb2,
                'active-border': #36f,
                'border-error': #ff3d71,
                'disabled-text': rgba(143,155,179,.48),
                'disabled-border': #e4e9f2
            ),
            'button': (
                'background': #36f,
                'hover-background': #598bff,
                'focus-background': #598bff,
                'disabled-background': rgba(143, 155, 179, .24),
                'disabled-text': rgba(143, 155, 179, .48),
                'text': #ffffff,
            ),
            'loading': (
                'half': lime
            ),
            'header': (
                'background': #ffffff,
                'text': #222b45,
                'text-hover': #000,
                'borders': #eaeef6,
                'shadow': rgba(44, 51, 73, .1)
            ),
            'usermenu': (
                'background': #ffffff,
                'text': #222b45,
                'text-hover': #000,
                'borders': #eaeef6
            ),
            'navigation': (
                'text': #222b45,
                'text-hover': #000,
                'borders': #eaeef6
            ),
        ),
        'borders': (
            'card': (
                'color': #eef1f0,
                'width': 1px,
                'style': solid
            ),
            'input': (
                'color': #e4e9f2,
                'width': 1px,
                'style': solid,
            )
        ),
        'fonts': (
            'text': (
                'family': 'Open Sans',
                'size': 15px,
                'weight': 400,
                'style': normal,
                'decoration': none
            ),
            'card-title': (
                'family': 'Open Sans',
                'size': 15px,
                'weight': 600,
                'style': normal,
                'decoration': none
            )
        )
    )
);

// Create the 'body' classes for the themes. We only define CSS
// variables here. We can use these later on.
@each $theme, $items in $themes {
    body.#{$theme} {
        // Set variables for the colors
        $colors: map-get($items, 'colors');
        @each $name, $color_items in $colors {
            @each $item, $color in $color_items {
                --color-#{$name}-#{$item}: #{$color};
            }
        }

        // Set variables for the border
        $borders: map-get($items, 'borders');
        @each $name, $border_options in $borders {
            --border-#{$name}-color: #{map-get($border_options, 'color')};
            --border-#{$name}-width: #{map-get($border_options, 'width')};
            --border-#{$name}-style: #{map-get($border_options, 'style')};
            --border-#{$name}-radius: #{map-get($border_options, 'radius')};
        }

        // Set variables for the fonts
        $fonts: map-get($items, 'fonts');
        @each $name, $font_options in $fonts {
            --font-#{$name}-family: '#{map-get($font_options, 'family')}';
            --font-#{$name}-size: #{map-get($font_options, 'size')};
            --font-#{$name}-weight: #{map-get($font_options, 'weight')};
            --font-#{$name}-style: #{map-get($font_options, 'style')};
            --font-#{$name}-decoration: #{map-get($font_options, 'decoration')};
        }
    }
} ;
