.text_center {
    text-align: center;
}

pre {
    background-color: black;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 16px;
}