#------------------------------------------------------------------------------
# Git Ignore file for My - Dashboard
#------------------------------------------------------------------------------
# Exclude VIM swap files
*swp

# Exclude all NodeJS modules and compiled files
node_modules
dist
public/
#------------------------------------------------------------------------------
