.header {
    background: var(--header-bg);
    color: var(--header-text);
    height: $max-height-header;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    box-shadow: 0 0.5rem 1rem 0 var(--header-shadow);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--header-borders);

    >div {
        flex-grow: 0;
    }
}