.content {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: scroll;
    padding-bottom: 16px;

    * {
        overflow-y: initial;
    }

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: var(--scrollbar-bg);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-bg);
        border-radius: 0px;
        border: 3px solid var(--scrollbar-thumb-border);
    }
}