div#command_palette {
    background-color: lime;
    position: absolute;
    width: 650px;
    max-width: 95%;
    height: 300px;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: var(--cmd-palette-bg);
    border: 1px solid var(--cmd-palette-borders);
    z-index: $zindex-modal;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    #cmdinput {
        width: 100%;
    }

    #commands {
        width: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        position: relative;

        >div.command {
            width: 100%;
            box-sizing: border-box;
            padding: 8px;
            cursor: pointer;
            background: var(--cmd-palette-cmd-bg);
            color: var(--cmd-palette-cmd-text);
            border-bottom: 1px solid var(--cmd-palette-cmd-borders);
            display: flex;

            &:hover {
                background: var(--cmd-palette-cmd-bg-hover);
                color: var(--cmd-palette-cmd-text-hover);
            }

            &.active {
                background: var(--cmd-palette-cmd-bg-active);
                color: var(--cmd-palette-cmd-text-active);
            }

            .icon {
                width: 24px;
                flex-grow: 0;
                text-align: center;
            }

            .text {
                flex-grow: 1;
            }

            .keybinding {
                flex-grow: 1;
                text-align: right;

                >div {
                    background: var(--cmd-palette-keybinding-bg);
                    color: var(--cmd-palette-keybinding-text);
                    display: inline-block;
                    border-radius: 2px;
                    padding: 0 3px 0 3px;
                    margin-right: 3px;

                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}