body.theme-dark {
    // Colors for the main structure of the application
    --bg: #454c68;
    --text: #8f9bb3;
    --notice-text: #E0610E;
    --sub-text: #454c68;

    --link-text: #8f9bb3;
    --link-text-hover: #fff;

    --splash-bg: #454c68;
    --splash-error-text: #f00;
    --splash-progress-empty-bg: #646464;
    --splash-progress-filled-bg: #00ff00;
    --splash-progress-filled-error-bg: #ff0000;

    --header-bg: #14171f;
    --header-text: #8f9bb3;
    --header-text-hover: #fff;
    --header-borders: #3b3c3d;
    --header-shadow: #1a1f33;

    --nav-bg: #222836;
    --nav-text: #8f9bb3;
    --nav-text-hover: #fff;
    --nav-title-text: #ccc;
    --nav-title-text-hover: #fff;
    --nav-borders: #3b3c3d;
    --nav-borders-active: #E0610E;

    --sidebar-bg: #222836;

    --usermenu-bg: #222836;
    --usermenu-text: #8f9bb3;
    --usermenu-text-hover: #fff;
    --usermenu-sep-borders: #edf3ff;
    --usermenu-borders: #3b3c3d;

    --feeter-bg: #14171f;
    --feeter-text: #8f9bb3;
    --feeter-text-hover: #fff;
    --feeter-borders: #3b3c3d;

    --loading-half: #00ff00;

    --cmd-palette-bg: #222836;
    --cmd-palette-text: #8f9bb3;
    --cmd-palette-borders: #3b3c3d;
    --cmd-palette-cmd-bg-hover: #222836;
    --cmd-palette-cmd-text-hover: #fff;
    --cmd-palette-cmd-borders: #3b3c3d;
    --cmd-palette-cmd-bg-active: #E0610E;
    --cmd-palette-cmd-text-active: #fff;
    --cmd-palette-keybinding-bg: #ccc;
    --cmd-palette-keybinding-text: #222836;

    --dimmer-bg: #000;

    --toast-bg: #222836;
    --toast-borders: #222836;
    --toast-info-borders: #ffffff;
    --toast-info-title-text: #ffffff;
    --toast-success-borders: #00ff00;
    --toast-success-title-text: #00ff00;
    --toast-warning-borders: #ffa500;
    --toast-warning-title-text: #ffa500;
    --toast-error-borders: #ff0000;
    --toast-error-title-text: #ff0000;
    --toast-shadow: #1a1f33;

    // Components: Input
    --input-bg: #192038;
    --input-bg-hover: #192038;
    --input-bg-active: #14152d;
    --input-text: #ffffff;
    --input-text-disabled: rgba(143, 155, 179, 0.48);
    --input-label-text: #8f9bb3;
    --input-placeholder-text: #8e9cb2;
    --input-border: #101426;
    --input-border-active: #36f;
    --input-border-error: #ff3d71;
    --input-border-disabled: #101426;

    // Components: Button
    --button-bg: #36f;
    --button-critical-bg: #ab2020;
    --button-critical-bg-hover: #db2828;
    --button-bg-hover: #598bff;
    --button-bg-focus: #598bff;
    --button-bg-disabled: rgba(143, 155, 179, 0.24);
    --button-text: #ffffff;
    --button-test-disabled: rgba(143, 155, 179, 0.48);

    // Component: Dropdown
    --dropdown-bg: transparent;
    --dropdown-text: #8f9bb3;
    --dropdown-hover-text: #fff;
    --dropdown-option-bg: #222836;
    --dropdown-option-text: #8f9bb3;

    // Components: Card
    --card-bg: #222836;
    --card-text: #8f9bb3;
    --card-border: #3b3c3d;
    --card-title-bg: #14171f;
    --card-title-text: #ffffff;
    --card-title-action-bg: #14171f;
    --card-title-action-bg-hover: #598bff;
    --card-title-action-text: #ffffff;
    --card-shadow: #1a1f33;
    --card-list-headers-bg: #000;
    --card-list-headers-selected-bg: #E0610E;
    --card-list-headers-selected-text: #fff;
    --card-list-item-bg: #222836;
    --card-list-item-checked-bg: #161a22;
    --card-list-borders: #3b3c3d;
    --card-list-actions-action-bg: transparent;
    --card-list-actions-action-text: inherit;
    --card-list-actions-action-hover-bg: #333;
    --card-list-actions-action-hover-text: #fff;
    --card-list-actions-action-confirm-border: #8f9bb3;

    // Components: Checkbox
    --checkbox-border: #fff;
    --checkbox-check: #fff;

    // Components: EditableText
    --editable-text-text: #8f9bb3;
    --editable-text-text-hover: #fff;
    --editable-text-prepend-text: #E0610E;

    // Components: Tags
    --tag-default-color: #cdcdcd;
    --tag-hover-color: #ffffff;

    // Pages: Settings
    --settings-setting-text-hover: #fff;
    --settings-setting-text-error: #f00;
    --settings-borders: #3b3c3d;
    --settings-block-bg: #222836;

    // Pages: Dashboard
    --dashboard-borders: #222836;
    --dashboard-navigation-text-hover: #fff;
}