body.theme-dark {
    // Colors for the main structure of the application
    --bg: #454c68;
    --text: #8f9bb3;

    --header-bg: #14171f;
    --header-text: #8f9bb3;
    --header-text-hover: #fff;
    --header-borders: #3b3c3d;
    --header-shadow: #1a1f33;

    --nav-bg: #222836;
    --nav-text: #8f9bb3;
    --nav-text-hover: #fff;
    --nav-title-text: #ccc;
    --nav-title-text-hover: #fff;
    --nav-borders: #3b3c3d;
    --nav-borders-active: #E0610E;

    --usermenu-bg: #222836;
    --usermenu-text: #8f9bb3;
    --usermenu-text-hover: #fff;
    --usermenu-sep-borders: #edf3ff;
    --usermenu-borders: #3b3c3d;

    --feeter-bg: #14171f;
    --feeter-text: #8f9bb3;
    --feeter-text-hover: #fff;
    --feeter-borders: #3b3c3d;

    --loading-half: #00ff00;

    // Components: Input
    --input-bg: #192038;
    --input-bg-hover: #192038;
    --input-bg-active: #14152d;
    --input-text: #ffffff;
    --input-text-disabled: rgba(143, 155, 179, 0.48);
    --input-label-text: #8f9bb3;
    --input-placeholder-text: #8e9cb2;
    --input-border: #101426;
    --input-border-active: #36f;
    --input-border-error: #ff3d71;
    --input-border-disabled: #101426;

    // Components: Button
    --button-bg: #36f;
    --button-bg-hover: #598bff;
    --button-bg-focus: #598bff;
    --button-bg-disabled: rgba(143, 155, 179, 0.24);
    --button-text: #ffffff;
    --button-test-disabled: rgba(143, 155, 179, 0.48);

    // Components: Card
    --card-bg: #222836;
    --card-text: #8f9bb3;
    --card-border: #3b3c3d;
    --card-title-bg: #14171f;
    --card-title-text: #ffffff;
    --card-title-action-bg: #14171f;
    --card-title-action-bg-hover: #598bff;
    --card-title-action-text: #ffffff;

    // Unused?
    // --font-text-family: 'Open Sans';
    // --font-text-size: 15px;
    // --font-text-weight: 400;
    // --font-text-style: normal;
    // --font-text-decoration: none;
    // --font-card-title-family: 'Open Sans';
    // --font-card-title-size: 15px;
    // --font-card-title-weight: 600;
    // --font-card-title-style: normal;
    // --font-card-title-decoration: none;
}