body.theme-light {
    // Colors for the main structure of the application
    --bg: #eaeef6;
    --text: #222b45;
    --notice-text: #E0610E;
    --sub-text: #eaeef6;

    --link-text: #222b45;
    --link-text-hover: #000;

    --splash-bg: #eaeef6;
    --splash-error-text: #f00;
    --splash-progress-empty-bg: #b5b5b5;
    --splash-progress-filled-bg: #00ff00;
    --splash-progress-filled-error-bg: #ff0000;

    --header-bg: #fff;
    --header-text: #222b45;
    --header-text-hover: #000;
    --header-borders: #eaeef6;
    --header-shadow: rgba(44, 51, 73, 0.1);

    --nav-bg: #fff;
    --nav-text: #222b45;
    --nav-text-hover: #000;
    --nav-title-text: #222b45;
    --nav-title-text-hover: #000;
    --nav-borders: #eaeef6;
    --nav-borders-active: #E0610E;

    --sidebar-bg: #fff;

    --usermenu-bg: #fff;
    --usermenu-text: #222b45;
    --usermenu-text-hover: #000;
    --usermenu-sep-borders: #000;
    --usermenu-borders: #eaeef6;

    --feeter-bg: #fff;
    --feeter-text: #222b45;
    --feeter-text-hover: #000;
    --feeter-borders: #eaeef6;

    --loading-half: #00ff00;

    --cmd-palette-bg: #fff;
    --cmd-palette-text: #222b45;
    --cmd-palette-borders: #eaeef6;
    --cmd-palette-cmd-bg-hover: #fff;
    --cmd-palette-cmd-text-hover: #000;
    --cmd-palette-cmd-borders: #eaeef6;
    --cmd-palette-cmd-bg-active: #E0610E;
    --cmd-palette-cmd-text-active: #fff;
    --cmd-palette-keybinding-bg: #ccc;
    --cmd-palette-keybinding-text: #000;

    --dimmer-bg: #000;

    --toast-bg: #fff;
    --toast-borders: #fff;
    --toast-info-borders: #000;
    --toast-info-title-text: #000;
    --toast-success-borders: #00ff00;
    --toast-success-title-text: #00ff00;
    --toast-warning-borders: #ffa500;
    --toast-warning-title-text: #ffa500;
    --toast-error-borders: #ff0000;
    --toast-error-title-text: #ff0000;
    --toast-shadow: rgba(44, 51, 73, 0.1);

    // Components: Input
    --input-bg: #f7f9fc;
    --input-bg-hover: #f7f9fc;
    --input-bg-active: #edf1f7;
    --input-text: #222b45;
    --input-text-disabled: rgba(143, 155, 179, 0.48);
    --input-label-text: #8f9bb3;
    --input-placeholder-text: #8e9cb2;
    --input-border: #e4e9f2;
    --input-border-active: #36f;
    --input-border-error: #ff3d71;
    --input-border-disabled: #e4e9f2;

    // Components: Button
    --button-bg: #36f;
    --button-critical-bg: #ab2020;
    --button-critical-bg-hover: #db2828;
    --button-bg-hover: #598bff;
    --button-bg-focus: #598bff;
    --button-bg-disabled: rgba(143, 155, 179, 0.24);
    --button-text: #ffffff;
    --button-text-disabled: rgba(143, 155, 179, 0.48);

    // Component: Dropdown
    --dropdown-bg: transparent;
    --dropdown-text: #222b45;
    --dropdown-hover-text: #000;
    --dropdown-option-bg: #ffffff;
    --dropdown-option-text: #222b45;

    // Components: Cards
    --card-bg: #ffffff;
    --card-text: #222b45;
    --card-border: #eef1f0;
    --card-title-bg: #ffffff;
    --card-title-text: #000;
    --card-title-action-bg: #ffffff;
    --card-title-action-bg-hover: #598bff;
    --card-title-action-text: #000;
    --card-shadow: rgba(44, 51, 73, 0.1);
    --card-list-headers-bg: #fff;
    --card-list-headers-selected-bg: #E0610E;
    --card-list-headers-selected-text: #fff;
    --card-list-item-bg: #ffffff;
    --card-list-item-checked-bg: #cfcfcf;
    --card-list-borders: #eaeef6;
    --card-list-actions-action-bg: transparent;
    --card-list-actions-action-text: inherit;
    --card-list-actions-action-hover-bg: #333;
    --card-list-actions-action-hover-text: #fff;
    --card-list-actions-action-confirm-border: #222b45;

    // Components: Checkbox
    --checkbox-border: #000;
    --checkbox-check: #000;

    // Components: EditableText
    --editable-text-text: #222b45;
    --editable-text-text-hover: #000;
    --editable-text-prepend-text: #E0610E;

    // Components: Tags
    --tag-default-color: #000000;
    --tag-hover-color: #323232;

    // Pages: Settings
    --settings-setting-text-hover: #000;
    --settings-setting-text-error: #f00;
    --settings-borders: #eaeef6;
    --settings-block-bg: #fff;

    // Pages: Dashboard
    --dashboard-borders: #fff;
}