.navigation {
    background: var(--nav-bg);
    width: 300px;
    flex-grow: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    transition: width 250ms ease-out;
    scrollbar-width: none;
    z-index: $zindex-nav;

    &.floating {
        position: absolute;
        height: calc(100% - #{$max-height-header} - #{$max-height-feeter});
    }

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    &.hide {
        width: 0px;
        transition: width 250ms ease-out;
    }

    ul.navigation_section {
        list-style: none;
        width: 100%;
        padding: 0px;
        margin: 0px;
        cursor: pointer;

        >li {
            padding: 12px 12px 12px 8px;
            margin: 0px;
            border-bottom: 1px solid var(--nav-borders);
            color: var(--nav-title-text);
            display: flex;
            font-weight: bold;
            border-left: 4px solid var(--nav-bg);

            &:hover {
                color: var(--nav-title-text-hover);
            }

            .collapse {
                flex-grow: 0;
                padding: 4px 0 4px 0;
                white-space: nowrap;
                overflow: hidden;
                transform: rotate(-90deg);
                transition: transform 125ms ease-out;
            }

            &.active {
                border-left: 4px solid var(--nav-borders-active);
            }
        }

        >.submenu {
            display: none;
            list-style: none;
            margin: 0px;
            padding: 0px;
            border-bottom: 1px solid var(--nav-borders);

            >li {
                padding: 12px 0 12px 48px;
                display: flex;
                color: var(--nav-text);
                white-space: nowrap;
                overflow: hidden;
                border-left: 4px solid var(--nav-bg);

                &:hover {
                    cursor: pointer;
                    color: var(--nav-text-hover);
                }

                &.active {
                    border-left: 4px solid var(--nav-borders-active);
                }
            }
        }

        &.active {
            >.submenu {
                display: block;
            }

            >li {
                color: var(--nav-title-text-hover);

                .collapse {
                    transition: transform 125ms ease-out;
                    transform: rotate(-180deg);
                }
            }
        }

        .icon {
            flex-grow: 0;
            font-size: 1.1em;
            padding: 4px 0 4px 8px;
            min-width: 32px;
            text-align: left;
        }

        .text {
            flex-grow: 1;
            padding: 4px 0 4px 0;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}