div.settings {
    .error {
        color: var(--settings-setting-text-error);

        &:hover {
            color: var(--settings-setting-text-error) !important;
        }

        >.value {
            color: var(--settings-setting-text-error) !important;
        }

        input {
            color: var(--settings-setting-text-error) !important;
        }
    }

    .saving {
        &:hover {
            color: inherit !important;
            cursor: inherit;
        }
    }

    .setting {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        flex-wrap: nowrap;
        padding: 12px 24px 0 24px;

        &:last-child {
            padding-bottom: 12px;
        }

        >.icon {
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: 12px;
            width: 18px;
        }

        >.name {
            flex-grow: 1;
            flex-shrink: 1;
        }

        >.value {
            flex-grow: 1;
            flex-shrink: 1;
            text-align: right;
        }

        &:hover {
            color: var(--settings-setting-text-hover);
            cursor: pointer;
        }
    }

    .block {
        background: var(--settings-block-bg);
        padding: 12px 24px 12px 24px;
        margin-top: 12px;
        border-top: 1px solid var(--settings-borders);
        border-bottom: 1px solid var(--settings-borders);

        div {
            >.input {
                margin-bottom: 12px;
            }
        }

        div.save {
            margin-top: 12px;
            text-align: center;
        }

        div.configuring_2fa {
            text-align: center;
        }
    }
}

.user_session {
    >.extra_info {
        padding: 12px;
        border-top: 1px solid var(--settings-borders);

        code {
            font-size: 14px;
            font-weight: bold;
            font-family: 'Fira Code', 'Courier New', Courier, monospace;
        }
    }
}

.settings_loading {
    padding: 24px;
    display: flex;

    >.icon {
        flex-grow: 0;
        flex-shrink: 0;
        margin: 0 24px 0 0;
    }

    >.text {
        flex-grow: 1;
        flex-shrink: 1;
    }
}

.settings-usersessions-col-title {
    max-width: 70%;
    min-width: 210px;
    overflow: hidden;
}

.settings-usersessions-col-datetime {
    max-width: 30%;
    min-width: 90px;
    overflow: visible !important;
}