.page_tags {
    .tags-col-title {
        max-width: 100%;
        overflow: hidden;

        p.title {
            margin: 0;
        }
    }

    .add_button {
        padding-bottom: 16px;
        text-align: left;
    }
}

hr.tag_line {
    width: 120px;
    margin: 8px 0 0 0;
    border-width: 5px 0 0 0;
}

.tag_dates {
    .card {
        .content {
            text-align: -webkit-center;
        }
    }
}

.tagdates_loading {
    padding: 24px;
    display: flex;

    >.icon {
        flex-grow: 0;
        flex-shrink: 0;
        margin: 0 24px 0 0;
    }

    >.text {
        flex-grow: 1;
        flex-shrink: 1;
    }
}