.api_settings_details {
    .app_details {
        .details_left {
            font-weight: bold;
            width: 40%;
        }

        .details_right {
            font-weight: italic;
            width: 40%;
        }
    }
}