.api_settings_details {
    .app_details {

        .api_settings_loading {
            padding: 24px;
            display: flex;

            >.icon {
                flex-grow: 0;
                flex-shrink: 0;
                margin: 0 24px 0 0;
            }

            >.text {
                flex-grow: 1;
                flex-shrink: 1;
            }
        }

        .details_left {
            font-weight: bold;
            width: 40%;
        }

        .details_right {
            font-weight: italic;
            width: 60%;

            .disabled {
                font-weight: bold;
                font-size: 13px;
                background-color: #cc0000;
                display: inline-block;
                padding: 2px 8px 2px 8px;
                color: white;
                border-radius: 7px;
                margin: 0;
                cursor: pointer;
            }

            .enabled {
                font-weight: bold;
                font-size: 13px;
                background-color: #00cc00;
                display: inline-block;
                padding: 2px 8px 2px 8px;
                color: white;
                border-radius: 7px;
                margin: 0;
                cursor: pointer;
            }
        }
    }
}

.api_settings_tokens {
    .api_tokens_loading {
        padding: 24px;
        display: flex;

        >.icon {
            flex-grow: 0;
            flex-shrink: 0;
            margin: 0 24px 0 0;
        }

        >.text {
            flex-grow: 1;
            flex-shrink: 1;
        }
    }
}