#toasts {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: auto;
    width: 550px;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
    z-index: $zindex-toasts;
    padding: 20px 0 0 0;
    box-sizing: border-box;

    div.toast {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        left: 0;
        right: 0;
        border-left: 5px solid var(--toast-borders);
        border-top: 1px solid var(--toast-borders);
        border-bottom: 1px solid var(--toast-borders);
        border-right: 1px solid var(--toast-borders);
        background: var(--toast-bg);
        display: flex;
        flex-wrap: wrap;
        padding: 5px 0 5px 0;
        cursor: pointer;
        box-shadow: 0.5rem 0.5rem 1rem 0 var(--toast-shadow);

        &.error {
            border-left: 5px solid var(--toast-error-borders);

            .title,
            .icon {
                color: var(--toast-error-title-text);
            }
        }

        &.warning {
            border-left: 5px solid var(--toast-warning-borders);

            .title,
            .icon {
                color: var(--toast-error-warning-text);
            }
        }

        &.success {
            border-left: 5px solid var(--toast-success-borders);

            .title,
            .icon {
                color: var(--toast-success-title-text);
            }
        }

        &.info {
            border-left: 5px solid var(--toast-info-borders);

            .title,
            .icon {
                color: var(--toast-info-title-text);
            }
        }

        div {
            padding: 5px 25px 5px 20px;
        }

        .icon {
            flex-grow: 0;
            flex-shrink: 0;
            padding-right: 0;
        }

        .title {
            font-weight: bold;
        }

        .text {
            width: 100%;
        }
    }
}