div.card {
    background: var(--card-bg);
    color: var(--card-text);
    border-color: var(--card-border);
    border-width: 1px;
    border-style: solid;
    border-radius: 0;

    >div.title {
        background: var(--card-title-bg);
        border-bottom: 1px solid var(--card-border);
        display: flex;

        >.icon {
            padding: 16px 0px 16px 24px;
            color: var(--card-title-text);
        }

        >.text {
            padding: 16px 24px 16px 24px;
            color: var(--card-title-text);
            flex-grow: 2;
            font-family: 'Open Sans';
            font-size: 15px;
            font-weight: 600;
            font-style: nomral;
        }

        >.actions {
            flex-grow: 0;
            text-align: center;
            color: var(--crad-title-text);

            >div {
                cursor: pointer;
                background: var(--card-title-action-bg);
                color: var(--card-title-action-text);
                padding: 16px;
                border-left: 1px solid var(--card-border);

                &:hover {
                    background: var(--card-title-action-bg-hover);
                }
            }
        }
    }

    >div.content {
        padding: 16px 24px 16px 24px;

        p {
            margin-top: 0px;
        }
    }

    >div.actions {
        background: var(--card-bg);
        border-top: 1px solid var(--card-border);
        padding: 16px;
        text-align: right;
    }
}