div.card {
    background: var(--card-bg);
    color: var(--card-text);
    border-color: var(--card-border);
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    box-shadow: none;

    &.no_padding {
        >div.content {
            padding: 0 !important;
        }
    }

    &.raised {
        box-shadow: 0.5rem 0.5rem 1rem 0 var(--card-shadow);

    }

    >div.title {
        background: var(--card-title-bg);
        border-bottom: 1px solid var(--card-border);
        display: flex;

        >.icon {
            padding: 16px 0px 16px 24px;
            color: var(--card-title-text);
        }

        >.text {
            padding: 16px 24px 16px 24px;
            color: var(--card-title-text);
            flex-grow: 2;
            font-family: 'Open Sans';
            font-size: 15px;
            font-weight: 600;
            font-style: nomral;
        }

        >.actions {
            flex-grow: 0;
            text-align: center;
            color: var(--crad-title-text);

            >div {
                cursor: pointer;
                background: var(--card-title-action-bg);
                color: var(--card-title-action-text);
                padding: 16px;
                border-left: 1px solid var(--card-border);

                &:hover {
                    background: var(--card-title-action-bg-hover);
                }
            }
        }
    }

    >div.content {
        padding: 16px 24px 16px 24px;

        p {
            margin-top: 0px;
        }
    }

    >div.actions {
        background: var(--card-bg);
        border-top: 1px solid var(--card-border);
        padding: 16px;
        text-align: right;
    }

    &.list {
        >div.content {
            >div.empty {
                padding: 24px;
                text-align: center;
                font-style: italic;
            }

            >div.headers {
                display: flex;
                flex-wrap: nowrap;
                background: var(--card-list-headers-bg);

                >div {
                    box-sizing: border-box;
                    font-weight: bold;

                    &.checkbox {
                        text-align: left;
                        flex-grow: 0;
                        flex-shrink: 0;
                        padding: 12px 0 12px 12px;
                    }

                    &.columns {
                        flex-grow: 1;
                        flex-shrink: 1;
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: stretch;

                        >div {
                            padding: 10px 12px 12px 12px;
                            flex-grow: 0;
                            flex-shrink: 0;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    &.actions {
                        padding: 6px 12px 6px 0;
                        flex-grow: 0;
                        flex-shrink: 0;
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: flex-end;
                    }
                }
            }

            >.actions_selected {
                display: flex;
                flex-wrap: nowrap;
                background: var(--card-list-headers-selected-bg);
                color: var(--card-list-headers-selected-text);

                >div {
                    box-sizing: border-box;

                    &.checkbox {
                        text-align: left;
                        flex-grow: 0;
                        flex-shrink: 0;
                        padding: 12px 0 12px 12px;
                    }

                    &.count {
                        flex-grow: 1;
                        flex-shrink: 1;
                        padding: 10px 12px 12px 12px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    &.actions {
                        padding: 6px 12px 6px 0;
                        flex-grow: 0;
                        flex-shrink: 0;
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: flex-end;
                    }
                }
            }

            >div.item {
                display: flex;
                flex-wrap: nowrap;
                background: var(--card-list-item-bg);
                border-top: 1px solid var(--card-list-borders);

                &.checked {
                    background: var(--card-list-item-checked-bg);
                }

                >div {
                    box-sizing: border-box;

                    &.checkbox {
                        text-align: left;
                        flex-grow: 0;
                        flex-shrink: 0;
                        padding: 12px 0 12px 12px;

                        &.loading {
                            padding: 10px 0 10px 15px;
                        }
                    }

                    &.columns {
                        flex-grow: 1;
                        flex-shrink: 1;
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: stretch;

                        >div {
                            padding: 10px 12px 12px 12px;
                            flex-grow: 0;
                            flex-shrink: 0;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    &.actions {
                        padding: 6px 12px 6px 0;
                        flex-grow: 0;
                        flex-shrink: 0;
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}