button.button {
    background-color: var(--color-button-background);
    color: var(--color-button-text);
    border: 0px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;

    > div {
        display: flex;
        
        .icon {
            flex-grow: 0;
            padding: 11px 0px 11px 18px;
        }
    
        .text {
            flex-grow: 1;
            padding: 11px 18px 11px 18px;
        }
    }    

    &:hover {
        outline: none;
        background-color: var(--color-button-hover-background);
    }

    &:focus {
        outline: none;
        background-color: var(--color-button-focus-background);
    }

    &:disabled {
        background-color: var(--color-button-disabled-background);
        color: var(--color-button-disabled-text);
        cursor: auto;
    }
}