button.button {
    font-family: 'Open Sans';
    background: var(--button-bg);
    color: var(--button-text);
    border: 0px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;

    &.critical {
        background: var(--button-critical-bg) !important;

        &:hover {
            outline: none;
            background: var(--button-critical-bg-hover) !important;
        }

        &:disabled:hover {
            background: var(--button-critical-bg) !important;
        }
    }

    >div {
        display: flex;

        .icon {
            flex-grow: 0;
            padding: 11px 18px 11px 18px;
        }

        .text {
            flex-grow: 1;
            padding: 11px 18px 11px 0;
        }
    }

    &:hover {
        outline: none;
        background: var(--button-bg-hover);
    }

    &:focus {
        outline: none;
        background: var(--button-bg-focus);
    }

    &:disabled {
        background: var(--button-bg-disabled);
        color: var(--button-text-disabled);
        cursor: auto;
    }
}