div.editabletext {
    cursor: pointer;
    color: var(--editable-text-text);

    &:hover {
        color: var(--editable-text-text-hover);
    }

    >.empty_name {
        font-style: italic;
    }

    .prepend {
        color: var(--editable-text-prepend-text);
        font-style: italic;
    }
}