div.input {
    margin-bottom: 16px;

    >label {
        color: var(--input-text);
        font-weight: 700;
        font-size: 12px;
        margin-bottom: 8px;
        display: inline-block;
    }

    div.field {
        display: flex;
        font-size: 15px;
        border: 1px solid var(--input-border);
        background: var(--input-bg);
        border-radius: 4px;

        &.error,
        &.error:focus-within {
            border-color: var(--input-border-error);
        }

        >.icon {
            flex-grow: 0;
            padding: 8px;
        }

        &.disabled {
            color: var(--input-text-disabled);
            border-color: var(--input-border-disabled);

            >input,
            >input::placeholder {
                color: var(--input-text-disabled);
            }
        }

        >input {
            font-family: 'Open Sans';
            font-size: 15px;
            font-weight: 400;
            font-style: normale;
            text-decoration: none;
            border: 0px;
            color: var(--input-text);
            padding: 8px;
            flex-grow: 1;
            background: transparent;

            &::placeholder {
                color: var(--input-placeholder-text);
                opacity: 1;
            }

            &:focus {
                outline: none;
            }
        }

        &:hover {
            background: var(--input-bg-hover);
        }

        &:focus-within {
            background: var(--input-bg-active);
            border: 1px solid var(--input-border-active);
        }
    }
}