.menutoggle {
    padding-left: 24px;
    font-size: 24px;

    >i:hover {
        cursor: pointer;
        color: var(--header-text-hover);
    }

    >i {
        transition: transform 250ms ease-in-out;
    }

    >i.hidden {
        transform: rotate(-180deg);
    }
}