div.monthcalendar {
    display: flex;
    width: 413px;
    max-width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;

    &.border {
        border: 1px solid var(--monthcalendar-border);
    }

    div.weekday {
        width: 12.5%;
        text-align: center;
        flex-grow: 0;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 12px 0 12px 0;
    }

    div.weeknumber {
        width: 12.5%;
        text-align: center;
        flex-grow: 0;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 12px 0 12px 0;
        font-style: italic;
        background: var(--monthcalendar-week-bg);
    }

    div.day {
        width: 12.5%;
        text-align: center;
        flex-grow: 0;
        flex-shrink: 0;
        box-sizing: border-box;
        cursor: pointer;
        padding: 12px 0 12px 0;

        &:hover {
            background: var(--monthcalendar-day-hover-bg);
            color: var(--monthcalendar-day-hover-text);
        }
    }

    div.cal_title {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        background: var(--monthcalendar-title-bg);
        color: var(--monthcalendar-title-text);
        font-weight: 600;

        div.nav {
            flex-grow: 0;
            flex-shrink: 0;
            cursor: pointer;
            padding: 12px 20px 12px 20px;
        }

        div.text {
            flex-grow: 1;
            flex-shrink: 1;
            text-align: center;
            padding: 12px 0 12px 0;
        }
    }
}