div.tagbutton {
    border-radius: 29px;
    border-style: solid;
    border-width: 1px;
    color: var(--tag-default-color);
    padding: 4px 12px 4px 12px;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;

    &:hover {
        color: var(--tag-hover-color);
    }
}