div.toggle {
	/* TODO: Move colors to colorsheets */
	border: 1px solid black;
	border-radius: 10px;
	display: inline-block;
	height: 20px;
	width: 35px;
	box-sizing: border-box;
	background-color: #000;
	transition: all 150ms ease-in-out;
	cursor: pointer;

	>div {
		box-sizing: border-box;
		width: 16px;
		height: 16px;
		border: 1px solid black;
		border-radius: 8px;
		position: relative;
		top: 1px;
		left: 1px;
		transition: all 150ms ease-in-out;
		background-color: #222836;
	}

	&.disabled {
		background: #773509 !important;
		border-color: #773509 !important;
	}

	&.checked {
		background: #E0610E;
		border-color: #E0610E;
	}

	&.checked>div {
		left: calc(100% - 17px);
	}
}