div.usermenu {
    >.button {
        padding: 0px 24px 0px 24px;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        border-left: 1px solid var(--color-header-borders);

        >div {
            font-size: 16px;
            margin-right: 12px;
        }

        >i {
            font-size: 24px;
        }
    }

    &:hover {
        >.menu {
            display: block;
        }

        >.button {
            cursor: pointer;
            color: var(--color-header-text-hover);
        }
    }

    >.menu {
        position: absolute;
        right: 0px;
        min-width: 200px;
        display: none;
        border: 1px solid var(--color-usermenu-borders);
        background-color: var(--color-usermenu-background);
        color: var(--color-usermenu-text);
        box-sizing: border-box;

        >.item {
            display: flex;
            width: 100%;
            border-bottom: 1px solid var(--color-usermenu-borders);

            &:hover {
                color: var(--color-usermenu-text-hover);
                cursor: pointer;
            }

            &:last-child {
                border-bottom: 0px;
            }

            >div.icon {
                flex-grow: 0;
                padding: 12px 6px 12px 12px;
            }

            >div.text {
                flex-grow: 1;
                padding: 11px 12px 12px 6px;
            }
        }
    }
}